div {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.image-container {
    width: 150px;
    height: auto;
}

.pics {
    width: 230px;
    height: auto;
}

h2 {
    text-align: center;
    text-decoration: double;
    background-color: black;
    color: white;
}

#im2 {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
}

h3 {
    text-align: center;
    text-decoration: double;
    background-color: black;
    color: white;
   
}

form {
    padding-left: 43%;
    display: block;
}
button {
    text-decoration: double;
    background-color: black;
    color: white;
    text-align: center;
}